.footer{
    box-shadow: -10px 0px 15px rgb(215, 215, 215);
    background-color: rgb(211, 211, 211);
   
}
.brand{
    display: block;
}
.footer-first{
    padding: 15px 60px;
    margin-top: 50px;
    display: flex;
    justify-content:space-between;
    
    


}
.footer-first img{
    height:60px;
}
.footer_second{
    margin-left: 60px;
    display: flex;
    
    
}
.footer_second img{
    margin-right: 20px;
    height: 40px;
}
@media screen and (max-width:600px){
    .brand{
        display: none;
    }
    
}